.main {
  flex: 1 1 auto;
  padding: 15px 0;
  position: relative;
}

.mainContent {
  display: flex;
  gap: 30px;
}

.control {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 30px;
}
