.header {
  min-height: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 6px 3px -1px rgba(66, 68, 90, 1);
}

.header_block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 0;
  align-items: center;
}

.slider {
  background: rgb(225, 129, 11);
  min-height: 300px;
  padding: 15px 0;
}

@media screen and (max-width: 450px) {
  .header_block {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
