.search {
  display: flex;
  flex: 0 1 500px;
}

.searchBlock {
  display: flex;
  width: 100%;
  height: 35px;
  padding: 3px 10px 3px 0;
  overflow: hidden;
  transition: all ease-out 0.28s;
  border: 2px solid rgb(225, 129, 11);
  border-radius: 15px;
  font-size: 18px;
}

.fieldSearch {
  padding: 8px 10px 8px 15px;
  border: none;
  overflow: hidden;
  width: 100%;
  font-size: 18px;
  color: rgba(6, 6, 6, 0.6);
  font-weight: bold;
}

.fieldSearch:active,
.fieldSearch:focus,
.fieldSearch:hover,
.btnSearch:focus {
  outline: none;
  outline-offset: 0;
}

.btnSearch {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.28s;
}

.btnSearch:hover {
  font-size: 20px;
}

.btnSearch:active {
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  .search {
    order: 3;
  }
}
