.movieBlock {
  width: calc(100% - 190px);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.movieBlockInfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 30%) calc(70% - 30px));

  gap: 30px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(225, 129, 11);
}

.movieImage {
  margin-bottom: 10px;
}

.movieInfo {
}

.movieSlider {
  margin: 0 auto;
}

.movieImage img {
  width: 100%;
}

.movieDetailedInfo {
  /* flex: 0 1 30%; */
}

.movieData {
}

.movieDataList {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 50px;
}

.movieDataList li {
  padding: 3px;
}

.movieDataList span {
  font-size: 14px;
  font-weight: 300;
  padding-right: 5px;
}

.movieTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.movieOverview {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.genres {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.7;
}

.ratingScale {
  position: relative;
  /* display: flex; */
  background: rgba(255, 0, 0, 0.7);
  height: 10px;
}

.scaleFollow {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(29, 240, 99);
  height: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.blockFollowUnfollow {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: -30px;
  font-size: 14px;
  font-weight: bold;
}

.scaleUnfollow {
}

.btnFollow {
  margin-right: auto;
}

.btnFollow,
.btnUnfollow {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  transition: all ease-in-out 0.28s;
}

.btnFollow:hover,
.btnUnfollow:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.btnFollow:active,
.btnUnfollow:active {
  transform: translateY(2px);
}

.btnFollow img,
.btnUnfollow img {
  width: 100%;
}

.countFollow {
}

.countUnfollow {
}

@media screen and (max-width: 720px) {
  .movieBlock {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .movieBlockInfo {
    display: flex;
    flex-direction: column;
  }

  .movieDetailedInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .movieImage {
    flex: 1 0 120px;
  }
}
