.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.active {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(225, 129, 11);
  padding-left: 10px;
  padding-right: 10px;
}
